<h2>Por pais</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="search($event)"
      (onDebounce)="suggests($event)"
      placeholder="Buscar pais..."
    ></app-pais-input>
  </div>
</div>

<ul class="list-group">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let pais of paisesSuggests"
    [routerLink]="['/pais', pais.alpha2Code]"
  >
    {{ pais.name }}
  </li>
</ul>

<hr />

<div *ngIf="hasError" class="alert alert-danger">
  No se encontró nada con el termino {{ termino }}
</div>

<div class="row">
  <div class="col">
    <app-pais-table [paises]="paises"></app-pais-table>
  </div>
</div>
